{% extends "mantenimiento.html" %}
{% load static %}
{% block instalacion %}
<div id="seccion-instalacion"><section id="instalacion" class="content-section">
    <img src="/media/{{MEDIA_URL}}{{ instalacion.portada_imagen }}" width="100%" alt="Mantenimiento correctivo y preventivo de Grupos Electrógenos" class="img-fluid mx-auto d-block">
    <div class="contenido">
        <div class="section-heading">
        </div>
        <div>                        
            <p style="text-align: justify;">{{ instalacion.contenido }}</p>
            <br>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-center">Imágenes del proceso de trabajo</h2>
                    <br><br><br><br><br><br>
                </div>
            </div>
            <br>
            <div class="owl-carousel owl-theme">
                {% for imagen in instalacion.imagenes.all %}
                <div class="item">
                    <div class="image">
                        <img src="/media/{{MEDIA_URL}}{{ imagen.imagen }}" alt="">
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if 3 >= instalacion.imagenes.count %}
            <!-- Quitando botones de navegación en caso de tener menos de 3 imagenes -->
            <script>
                function borrarPrevNextInstalacion(){
                    document.getElementById('instalacion').getElementsByClassName('owl-prev')[0].style.display = "none";
                    document.getElementById('instalacion').getElementsByClassName('owl-next')[0].style.display = "none";
                }
            </script>
            {% endif %}
        </div>
    </div>
</section></div>
{% block repuestos %}{% endblock %}
{% endblock %}