{% extends "servicios.html" %}
{% load static %}
{% block mantenimiento %}
<div id="seccion-mantenimiento"><section id="mantenimiento" class="content-section">                
    <img src="/media/{{ MEDIA_URL }}{{ mantenimiento.portada_imagen }}" alt="Mantenimiento correctivo y preventivo de Grupos Electrógenos" class="img-fluid mx-auto d-block">
    <div class="contenido">
        <div class="section-heading">
            <h1>Mantenimiento correctivo y preventivo de<br><em>Grupos Electrógenos</em></h1>
        </div>
        <div>
            <p style="text-align: justify;">{{ mantenimiento.contenido }}</p>

            <h2><strong>&iquest;Qu&eacute; incluye el Servicio de Mantenimiento Preventivo?</strong></h2>
            <ul style="text-align: justify;"></ul>
                <li>Cambio de filtros de aceite, combustible y aire</li>
                <li>Nivelaci&oacute;n o cambio, seg&uacute;n corresponda del l&iacute;quido refrigerante.</li>
                <li>Prueba de sensores, alarmas y fallos de panel.</li>
                <li>Revisi&oacute;n y regulaci&oacute;n de tensi&oacute;n de alternador</li>
                <li>Revisi&oacute;n y regulaci&oacute;n de velocidad del motor</li>
                <li>Pruebas de funcionamiento generales en vac&iacute;o y con carga</li>
                <li>Limpieza de la zona de trabajo</li>
                <li>Revisi&oacute;n del sistema de arranque</li>
                <li>Trabajos generales sobre el motor</li>
                <li>Revisi&oacute;n del sistema de combustible</li>
                <li>Revisi&oacute;n del sistema de refrigeraci&oacute;n</li>
                <li>Revisi&oacute;n del sistema de admisi&oacute;n y escape</li>
                <li>Revisi&oacute;n del sistema el&eacute;ctrico</li>
            </ul>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-center">Imágenes del proceso de trabajo</h2>
                    <br><br><br><br><br><br>
                </div>
            </div>
            <br>
            <div class="owl-carousel">
                {% for imagen in mantenimiento.imagenes.all %}
                <div class="item">
                    <div class="image">
                        <img src="/media/{{MEDIA_URL}}{{ imagen.imagen }}" alt="">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <section id="preventivo" class="content-section">
            {% if mantenimiento.portada_preventivo %}
                <img src="/media/{{ MEDIA_URL }}{{ mantenimiento.portada_preventivo }}" class="img-fluid mx-auto d-block">
            {% endif %}
            <h2> Mantenimiento Preventivo </h2>
            {% if mantenimiento.portada_correctivo %}
                <img src="/media/{{ MEDIA_URL }}{{ mantenimiento.portada_correctivo }}" class="img-fluid mx-auto d-block">
            {% endif %}
            <p style="text-align: justify;">{{ mantenimiento.contenido_preventivo }}</p>
        </section>
        <section id="correctivo" class="content-section">
            <h2> Mantenimiento Correctivo </h2>
            <p style="text-align: justify;">{{ mantenimiento.contenido_correctivo }}</p>
        </section>
    </div>
</section></div>
{% block instalacion %}{% endblock %}
{% endblock %}