{% extends "instalacion.html" %}
{% load static %}
{% block repuestos %}
<section id="repuestos" class="content-section">    
    <img src="/media/{{MEDIA_URL}}{{ repuestos.portada_imagen }}" width="100%" alt="Venta de repuestos" class="img-fluid mx-auto d-block">
    <div class="contenido">
        <div class="section-heading">
        </div>
        <div>
            <p style="text-align: justify;">{{ repuestos.contenido }}</p>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center">Tienda</h2>
                <br><br><br><br><br><br>
            </div>
        </div>
        <br>
        <div class="owl-carousel owl-theme">
            {% for repuesto in repuestos.articulos.all %}
            <div class="item">
                <div class="image">
                    <img src="/media/{{MEDIA_URL}}{{ repuesto.imagen }}" alt="">
                    <a href="/repuesto/{{ repuesto.id }}"><div>{{repuesto.descripcion}}</div></a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if 3 >= repuestos.articulos.count %}
        <!-- Quitando botones de navegación en caso de tener menos de 3 imagenes -->
        <script>
            function borrarPrevNextRepuestos(){
                document.getElementById('repuestos').getElementsByClassName('owl-prev')[0].style.display = "none";
                document.getElementById('repuestos').getElementsByClassName('owl-next')[0].style.display = "none";
            }
        </script>
        {% endif %}
    </div>
</section>
{% block suministros %}{% endblock %}
{% endblock %}