{% extends "top.html" %}
{% load static %}
{% block servicios %}
<section id="servicios" class="content-section">
    <div class="section-heading">
        <h1>Servicios</h1>
    </div>
    <div class="section-content">
        <h2>Entre los servicios que ofrecemos encontrarás:</h2>
        <br><br><br><br><br><br>
        <div class="owl-carousel owl-theme">
            <div class="item">
                <div class="image">
                    <img src="/media/{{ MEDIA_URL }}{{ mantenimiento.servicio_imagen }}" alt="">
                    <div class="featured-button button">
                        <a href="#mantenimiento">Revisar</a>
                    </div>
                </div>
                <div class="text-content">
                    <h4>Mantenimiento Preventivo y Correctivo</h4>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="/media/{{ MEDIA_URL }}{{ instalacion.servicio_imagen }}" alt="">
                    <div class="featured-button button">
                        <a href="#instalacion">Revisar</a>
                    </div>
                </div>
                <div class="text-content">
                    <h4>Instalación de Generadores</h4>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="/media/{{ MEDIA_URL }}{{ repuestos.servicio_imagen }}" alt="">
                    <div class="featured-button button">
                        <a href="#repuestos">Revisar</a>
                    </div>
                </div>
                <div class="text-content">
                    <h4>Venta y alquiler de Repuestos</h4>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="/media/{{ MEDIA_URL }}{{ suministro.servicio_imagen }}" alt="">
                    <div class="featured-button button">
                        <a href="#repuestos">Revisar</a>
                    </div>
                </div>
                <div class="text-content">
                    <h4>Venta y alquiler de Suministros</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="page-content">
    <div class="logo hidde-sm hidden-xs">
        <a href=""><img src="{% static 'img/logo.png' %}"></a>
    </div>
    {% block mantenimiento %}{% endblock %}
</div>
{% endblock %}