{% extends "top.html" %}
{% block servicios %}
<section id="servicios" class="content-section">
    <div class="section-content">
        <h2>¿Quiénes somos?</h2>
        <br><br>
        <p class="somos">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac eleifend orci, a porta lectus.</p>
        <br><br>
        <h2>Nuestros Servicios</h2>
        <br><br>
        <div class="owl-carousel owl-carousel-servicios owl-theme">
            <div class="item">
                <div class="image">
                    <img src="/media/{{ MEDIA_URL }}{{ mantenimiento.servicio_imagen }}" alt="">
                    <div class="featured-button button">
                        <a href="#mantenimiento">Revisar</a>
                    </div>
                </div>
                <div class="text-content">
                    <h4 style="text-align: center;">Mantenimiento Preventivo y Correctivo</h4>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="/media/{{ MEDIA_URL }}{{ instalacion.servicio_imagen }}" alt="">
                    <div class="featured-button button">
                        <a href="#instalacion">Revisar</a>
                    </div>
                </div>
                <div class="text-content">
                    <h4 style="text-align: center;">Instalación de Generadores</h4>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="/media/{{ MEDIA_URL }}{{ repuestos.servicio_imagen }}" alt="">
                    <div class="featured-button button">
                        <a href="#repuestos">Revisar</a>
                    </div>
                </div>
                <div class="text-content">
                    <h4 style="text-align: center;">Venta y alquiler de Repuestos</h4>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="/media/{{ MEDIA_URL }}{{ suministro.servicio_imagen }}" alt="">
                    <div class="featured-button button">
                        <a href="#repuestos">Revisar</a>
                    </div>
                </div>
                <div class="text-content">
                    <h4 style="text-align: center;">Venta y alquiler de Suministros</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="page-content">
    {% block mantenimiento %}{% endblock %}
</div>
{% endblock %}