{% extends 'layout.html' %}
{% load static %}
{% block content %}
<header class="nav-down responsive-nav hidden-lg hidden-md">
    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <!--/.navbar-header-->
    <div id="main-nav" class="collapse navbar-collapse">
        <nav>
            <ul class="nav navbar-nav">
                <li><a href="#top">Inicio</a></li>
                <li><a href="#mantenimiento">Mantenimiento</a></li>
                <li><a href="#instalacion">Instalación</a></li>
                <li><a href="#repuestos">Venta/Alquiler de repuestos </a></li>
                <li><a href="#suministros">Venta/Alquiler de suministros</a></li>
                <li><a href="#contacto">Contáctanos</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="sidebar-navigation hidde-sm hidden-xs" id="sidebar">
    <div class="logo">
        <a href=""><img src="{% static 'img/logo.png' %}"></a>
    </div>
    <div class="toggle-btn">
        <span>&#9776</span>
    </div>

    <nav>
        <ul>
            <li>
                <a href="#top">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    Inicio
                </a>
            </li>
            <li>
                <div class="dropdown-btn">
                    <a href="#mantenimiento">
                        <span class="rect"></span>
                        <span class="circle"></span>
                        Mantenimiento
                    </a>
                </div>
                <div class="dropdown-container" style="display: none;">
                    <ul>
                        <li>
                            <a href="#preventivo">
                                <span class="rect"></span>
                                <span class="circle"></span>
                                Preventivo
                            </a>
                        </li>
                        <li>
                            <a href="#correctivo">
                                <span class="rect"></span>
                                <span class="circle"></span>
                                Correctivo
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#instalacion">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    Instalación
                </a>
            </li>
            <li>
                <a href="#repuestos">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    Venta/Alquler
                </a>
            </li>
            <li>
                <a href="#suministros">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    Suministros
                </a>
            </li>
            <li>
                <a href="#contacto">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    Contáctanos
                </a>
            </li>
        </ul>
    </nav>
    <ul class="social-icons">
        <li><a href="{{ redes.youtube }}"><i class="fa fa-youtube"></i></a></li>
        <li><a href="{{ redes.facebook }}"><i class="fa fa-facebook"></i></a></li>
        <li><a href="{{ redes.twitter }}"><i class="fa fa-twitter"></i></a></li>
        <li><a href="{{ redes.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
    </ul>
</div>
{% block top %}{% endblock %}
{% endblock %}